@import "./Variables";
@import "./Mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 17px;
  font-family: neue-haas-grotesk-display, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgb(90,90,90) transparent;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  min-height: 100vh;
  background-color: $mainColor;
}